$darkblue: #2c314f;
$lightblue: #7acdcf;
$lightgray: #efeee9;
$darkgray: #aaaaaa;
$font: "Monteserrat", helvetica, arial, sans-serif;


#nav-div {
    border-bottom: 1px solid $darkgray;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    background-color: #fff;
}

#logo {
    display: flex;
    margin-top: 10%;
    width: 125%;
}

#enter-text-field {
    display: flex;
    background-color: $lightgray;
    justify-content: center;
    margin-bottom: 2.5%;
}

#checkboxes {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2.5%
}

#dark-checkbox {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-bottom: 20%;
}

#text-checkbox {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-bottom: 25%;
}

#dark-box {
	-webkit-appearance: none;
	background-color: $lightgray;
	padding: 9px;
    border-radius: 1px;
    text-align: left;
    margin-right: .1in;
}

#dark-box:checked {
	background-color: $darkblue;
	color: $lightgray;
}

#text-box {
	-webkit-appearance: none;
	background-color: $lightgray;
	padding: 9px;
    border-radius: 1px;
    text-align: left;
    margin-right: .1in;
}

#text-box:checked {
	background-color: $darkblue;
	color: $lightgray;
}

label {
    color: $lightblue;
    font-family: $font;
}

#footer {
    border-top: 1px solid #aaaaaa;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#deleteAllButton {
    float: right;
    border: 3px solid $darkgray;
    border-radius: 5px;
    font-family: $font;
    color: $darkgray;
    font-size: 10px;
    padding: .5em 1em;
    margin-right: 2.5%;
    margin-bottom: 2.5%;
    width: 100px;
}

// .btn-primary {
//     background-color: $lightblue;
//     border: none;
//     border-radius: 5px;
//     font-size: 12px;
//     color: #ffffff;
//     margin-bottom: 30%;
//     padding: 10px;

// }

// .btn-primary:focus {
//     background-color: #ffffff;
//     border: 3px solid $lightblue;
//     color: $lightblue;
// }

.text-fuction {
    display: flex;
    flex-direction: column;
}

#send-button {
    display: flex;
    float: right;
    margin-bottom: 2%;
    background-color: $lightblue;
    width: 100px;
    border-radius: 100px;
    justify-content: center;
    text-align: center;
    color: #fff;
    border: none;
}

.message-entry {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-left: 30%;
}


h4 {
    display: flex;
    font-family: $font;
    color: $darkgray;
    font-size: 15px;
    font-weight: lighter;
    margin-top: 1em;
}

h2 {
    display: flex;
    font-family: $font;
    color: $darkblue;
    background-color: $lightgray;
    border-radius: 5in;
    font-weight: lighter;
    width: 5in;
    padding: .5em 1em;
    font-size: 20px;
}

body {
    margin-top: 225px;
}

#delete-button {
    float: right;
    border: 3px solid $darkgray;
    border-radius: 5px;
    font-family: $font;
    color: $darkgray;
    font-size: 10px;
    padding: .5em 1em;
    margin-right: 2.5%;
    margin-bottom: 2.5%;
    margin-top: 2.5%;
    width: 100px;
    margin-left: 78.25%;
}

.username-item {
    display: flex;
    font-family: $font;
    color: $darkgray;
    font-size: 15px;
    font-weight: lighter;
    margin-top: 1em;
}

.conversation-item {
    display: flex;
    font-family: $font;
    color: $darkblue;
    background-color: $lightgray;
    border-radius: 5in;
    font-weight: lighter;
    width: 5in;
    padding: .5em 1em;
    font-size: 20px;
}